<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style.css">

    <title>Pepa je Bůh</title>
    
</head>
<body>
    <div class="container">
        <div class="awesome-title">Pepův boží Učinátor 2.0</div>
        <div id="question-container">
            <h1>
                Pepa je Bůh a o tom není pochyb.
            </h1>
        </div>
        <div class="content-row">
            <div class="input-container">
                <input type="text" id="textInput" placeholder="Enter text"><br>
                <button onclick="kouzluj()">Odpověď</button>
                <button onclick="dalsi()">Další</button>
            </div>
            <div id="ans-checker">
                <br>
            </div>
        </div>


</body>
</html>